

  <div class="jumbotron md-col-8" >
    <h5 class="display-4 ">Order </h5>
    <%=@total_price%>

    <hr>
    <%=@total_price=45%>
    <div class="row" >

      <%order.inline_item_ids.each do |item|%>
      <%=item%>
       <%# get item id from each inline items %>
       <%# item.pluck(:) %>
        <%= render partial: "order_inline_items", locals: { item: item}%>
      <%end%>
    </div>
  </div>



