<div class="col-md-4  blog-main box text-center" id="category_<%= category.id %>">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-name"><%=category.name%></h3>
    </div>


  </div>


</div>
